:root {
  // colors
  --color-deep-blue: #303148;
  // *** header
  --color-top-panel: rgba(48, 49, 72, 0.8);

  //fonts
  --default-font: 14px;
  --small-font: 0.86rem;
  --font-color-white: #ffffff;
}
