@font-face {
  font-family: "Lato";
  src: url("../../fonts/lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/lato/Lato-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/lato/Lato-Italic.ttf");
  font-style: italic;
}

:root {
  //background color
  --color-background-grey: #F3F4F8;
  --color-background-white: #FFFFFF;

  //font size
  --size-font-small: 0.86rem;
  --size-font-default: 14px;
  --size-font-medium: 1.1rem;
  --size-font-large: 1.4rem;
  //font color
  --color-font-white: #ffffff;
  --color-font-brown: #657195;
  --color-font-deep-blue: #414363
}
